.ptitle {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 23px;
}

.pauthors {
    margin-left: 20px;
    margin-top: -3px;
    font-size: 16px;
}

.pone {
    margin-top: 5px;
}

.ptwo {
    margin-left: 60px;
    margin-top: 5px;
}

.pthree {
    margin-left: 60px;
    margin-top: 5px;
}

.rowone {
    margin-top: 20px;
}

/* .viewbtn {
    margin-left: 735px;
    padding-left: 0px;
 }
 
 .savebtn {
     margin-left: 800px;
     margin-top: 20px;
 } */