.ptitle {
    margin-left: 20px;
    font-size: 23px;
}

.pauthors {
    margin-left: 20px;
    font-size: 16px;
}

.pone {
    margin-top: 5px;
}

.ptwo {
    margin-left: 60px;
    margin-top: 5px;
}

.pthree {
    margin-left: 60px;
    margin-top: 5px;
}

.viewbtn {
   margin-left: 400px;
   padding-right: 52px;
   padding-left: 52px;
}

.savebtn {
    margin-left: 400px;
    margin-right: 400px;
}